* {
  box-sizing: border-box;
}
.box1 {
  background-color: aqua;
  padding: 30px;
  border: 3px solid red;
  margin-bottom: 30px;
  width: 200px;
  height: 100px;
}

.box2 {
  width: 200px;
  background-color: orange;
}